<template>
  <div class="row justify-center mt-4">
    <div class="col-10">
      <video
        autoplay="autoplay"
        loop
        muted
        controls
        height="auto"
        src="../assets/video/video-accueil.mp4"
      />
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
video {
  width: 100%;
}
</style>
